@page "/letterboxed"
@rendermode InteractiveServer

<PageTitle>LB</PageTitle>

@using W500Core
@using Microsoft.AspNetCore.Components.Forms
@inject LbService LbService

<p>
    <h5>Enter "Box" as 12-letter Word</h5>
    <h6><i>Ex: "gaphutcinmos" would represent a box with sides GAP+HUT+CIN+MOS</i></h6>
    <input @oninput="EnterBox" value="@BoxEntry" />
</p>
@if (LbPath?.Length > 0)
{
    <p>
        <b>Best Solution: </b>@LbPath        
    </p>    
}
@if (@LbSuggestions?.Count > 0)
{
    <p>
        <table>
            <thead>
                <tr>
                    <td><b>Letter</b></td>
                    <td><b>Starts With</b></td>
                    <td><b>Ends With</b></td>
                    <td><b>Contains</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in LbSuggestions.OrderBy(x => x.Letter))
                {
                    <tr>
                        <td>
                            @s.Letter
                        </td>
                        <td>
                            @String.Join(", ", s.StartsWith)
                        </td>
                        <td>
                            @String.Join(", ", s.EndsWith)
                        </td>
                        <td>
                            @String.Join(", ", s.Contains.Except(s.StartsWith).Except(s.EndsWith))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </p>
}

@code {
    private string? BoxEntry { set; get; }
    private List<LbSuggestion> LbSuggestions;
    private string? LbPath { set; get; }

    protected async override Task OnInitializedAsync()
    {
        await NewGame();
    }

    protected async Task NewGame()
    {
        await LbService.Reset();
        LbSuggestions = new List<LbSuggestion>();
        await RetrieveDailyPuzzle();
    }

    protected async Task RetrieveDailyPuzzle()
    {
        //get box from https://nytimes.com/puzzles/letter-boxed
        //validate word
        //Set BoxEntry
        //Call SolvePuzzle()
    }

    private async void SolvePuzzle()
    {
        await LbService.EnterBox(BoxEntry);
        LbSuggestions = await LbService.GetSuggestions();
        //BoxEntry = string.Empty;
        await LbService.FindShortestPath(null);
        LbPath = LbService.BestPath;
    }

    protected async Task ResetGuesses()
    {
        await LbService.Reset();
        LbSuggestions = new List<LbSuggestion>();
    }


    private async void EnterBox(ChangeEventArgs args)
    {
        BoxEntry = args.Value.ToString().ToLower();
        if (BoxEntry?.Length != W500Constants.LbWordLength) return;
        SolvePuzzle();
    }
}
